<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="col-sm-3 col-md-2 mr-0 m-2" style="text-decoration: none; color:aliceblue;"><img src="../../assets/user.svg"
      alt="" width="45" height="45">
    <h5 class="user-info ml-3">Mike Harrish</h5>
  </a>

</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-dark sidebar ">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item mt-4">
            <!-- <a class="nav-link active" href="#">
                    <span data-feather="home"></span>
                    <h3>Dashboard</h3> <span class="sr-only">(current)</span>
                  </a> -->
          </li>
          <li class="nav-item">
            <a class="nav-link text-light">
              Setup system
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light">
              Pricing
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light">
              Manage System
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light">
              Banks
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light">
              Reports
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light">
              Sale Agent
            </a>
          </li>
          <li class="nav-item active" routerLinkActive="active">
            <a class="nav-link text-light" routerLink="pipeline">
              Pipeline
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-2 mt-3">
      <div>
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>
